<p>********* Welcome to the longest word-game! *********</p>

<p>Here is your grid:</p>

<p><%= @grid_letters %></p>

<p>************************************************</p>

<p>What is your longest word?</p>

<p><%= params[:response] %></p>

<p>******** Now your results ********</p>

<p>Your word: <%= params[:response] %></p>

<p>Time Taken to answer: <%= @duration %></p>

<p>Your score: <%= @score %></p>

<p>Message: <%= @result %></p>
